<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Ağ erişimi. Flutter şablonu bunu yalnızca debug manifest'ine koyar;
         burada tanımlı olmazsa RELEASE build'in hiç internet erişimi olmaz. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Konum: geolocator + google_maps_flutter "yakınımdaki mekanlar" akışı için.
         İzin tanımlı değilse Android çökme üretmez, sessizce boş konum döner. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="İtimat"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <!-- Google Maps: value = Maps Platform API key from Google Cloud Console -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDLcaEnxPW7-LKl5ojnfug2t3rSZmE3yQk" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher (MapLauncher → Google Maps yol tarifi). Android 11+ paket
             görünürlüğü nedeniyle bu tanım olmadan canLaunchUrl() false döner ve
             map_launcher.dart sessizce hiçbir şey yapmaz — buton ölü görünür. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
